<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <li>Coffee</li>
      <li>Tea</li>
      <li>Milk</li>
      <li>Bread</li>
      <li>Sambos!!!</li>
      <li>Ice-cream</li>
      <li>I love DEvelopment Operations</li>
      <li>Cream</li>
      <li>Oil</li>
      <li>More Oil</li>
      <li>add more...</li>
    </ul>
  </body>
</html>
